/* src/components/EventDetails.css */
.background-container {
  height: 100%; /* Full viewport height */
  background-image: linear-gradient(rgba(64, 43, 43, 0), rgba(49, 31, 31, 0.989)), url('../../assets/images/event_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
/* Stack h1 and p vertically */
  
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Slight text shadow for better readability */
  animation: fadeInBackground 3s ease-in-out;
  opacity: 0; /* Start invisible */
  animation-fill-mode: forwards; /* Ensure it stays visible after animation */
}
@keyframes fadeInBackground {
  0% {
    opacity: 0; /* Fully transparent at the start */
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 3rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}
.event-details {
    width: 60%; /* Allocate 60% width for the middle content */
    padding: 20px;
    background-color: #121212;
    text-align: center;
    height: 100%; /* Full height of the app-content area */
    overflow-y: auto; /* Scrollable if content overflows */
    background-image: linear-gradient(rgba(64, 43, 43, 0), rgba(49, 31, 31, 0.989)), url('../../assets/images/event_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .join-button {
    background-color: #9f09cd;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20%;
  }
  
  .join-button:hover {
    background-color: #9f09cd87;
  }

  .remind-button {
    background-color: #9f09cd;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20%;
  }
  
  .remind-button:hover {
    background-color: #9f09cd87;
  }

  .calendar-button {
    background-color: #9f09cd;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    border-radius: 20%;
  }
  
  .calendar-button:hover {
    background-color: #9f09cd87;
  }

  .event-buttons{
    display: flex;
    flex-direction: row;
    gap: 10%;
  }
  