/* src/components/VideoPanel.css */
.video-panel {
    width: 20%; /* Allocate 20% width for the right panel (video player) */
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 100%; /* Full height of the app-content area */
  }
  